[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
Flask = "*"
Flask-Session = "*"
Flask-SQLAlchemy = "*"
PyMySQL = "*"
cryptography = "*"
redis = "*"
flask-minify = "*"

[requires]
python_version = "3.6"
