{% extends "base.html" %}
{% block title %}Admin View Ticket{% endblock %}
{% block body %}
    <div>
        <h1>Admin View Tickets</h1>
        <a href="/admin"><p>Admin Dashboard</p></a>
        <a href="/admin/tickets"><p>Admin View Tickets</p></a>
        <a href="/admin/logout"><p>Logout</p></a>
    </div>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Time Created</th>
            <th>Time Updated</th>
        </tr>
        {% for ticket in tickets %}
        <tr>
            <th><a href="/admin/tickets/{{ ticket.id }}">{{ ticket.id }}</a></th>
            <th>{{ ticket.name }}</th>
            <th>{{ ticket.email }}</th>
            <th>{{ ticket.stauts }}</th>
            <th>{{ ticket.time_created }}</th>
            <th>{{ ticket.time_updated }}</th>
        </tr>
        {% endfor %}
    </table>
{% endblock %}