{% extends "base.html" %}
{% block title %}{{ name }} - Admin View Ticket{% endblock %}
{% block body %}
{% include "admin/navbar.html" %}
    <p>{{ view_msg }}</p>

    <a href="/admin/tickets"><button class="btn btn-primary">View Active Tickets</button></a>
    <a href="/admin/tickets?status=2"><button class="btn btn-primary">View Answered Tickets</button></a>
    <a href="/admin/tickets?status=3"><button class="btn btn-primary">View Closed Tickets</button></a>

    <div class="list-group">
        {% for ticket in tickets %}

        <a href="/admin/tickets/{{ ticket.id }}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
                #{{ ticket.id }} -
                {% if ticket.status is eq(0) %}
                    Open
                {% elif ticket.status is eq(1) %}
                    Customer-Reply
                {% elif ticket.status is eq(2) %}
                    Answered
                {% elif ticket.status is eq(3) %}
                    Closed
                {% else %}
                    Unknown status, {{ ticket.status }}
                {% endif %}
            </h5>
            <small class="text-muted">{{ ticket.time_updated }}</small>
            </div>
            <p class="mb-1">Submitted by {{ ticket.name }} on {{ ticket.time_created }}.</p>
            <small class="text-muted">{{ ticket.email }}</small>
        </a>
        {% endfor %}
    </table>
{% endblock %}