{% extends "base.html" %}
{% block title %}Admin View Ticket #{{ ticket.id }}{% endblock %}
{% block body %}
    <div>
        <h1>Admin View Ticket</h1>
        <a href="/admin"><p>Admin Dashboard</p></a>
        <a href="/admin/tickets"><p>Admin View Tickets</p></a>
        <a href="/admin/logout"><p>Logout</p></a>
    </div>

    <div class="ticket">
        <p>ID: {{ ticket.id }}</p>
        <p>Name: {{ ticket.name }}</p>
        <p>Email: {{ ticket.email }}</p>
        <p>Status: {{ ticket.status }}</p>
        <p>Last updated: {{ ticket.time_updated }}</p>
    </div>

    <div class="reply-form">
        <form action="/admin/submitmessage" method="post">
            <label>Message</label>
            <input type="text" name="message" />

            <input type="hidden" name="ticket_id" value="{{ ticket.id }}" />
    
            <input type="submit" value="Send">
        </form>
    </div>
    

    <table>
        <tr>
            <th>ID</th>
            <th>Message</th>
            <th>Sender</th>
            <th>Time Created</th>
            <th>Time Updated</th>
        </tr>
        {% for message in messages %}
        <tr>
            <th>{{ message.id }}</th>
            <th>{{ message.message }}</th>
            {% if message.sender_id is eq(0) %}
            <th>Client</th>
            {% else %}
            <th>{{ message.sender_id }}</th>
            {% endif %}
            <th>{{ message.time_created }}</th>
            <th>{{ message.time_updated }}</th>
        </tr>
        {% endfor %}
    </table>

{% endblock %}