{% extends "base.html" %}
{% block title %}Ticket #{{ ticket["id"] }}{% endblock %}
{% block body %}
    <div class="ticket">
        <p>ID: {{ ticket.id }}</p>
        <p>Name: {{ ticket.name }}</p>
        <p>Email: {{ ticket.email }}</p>
        <p>Status: {{ ticket.status }}</p>
        <p>Last updated: {{ ticket.time_updated }}</p>
    </div>

    <div class="messages">
        {% for message in messages %}
        <div class="message" id="{{ message['id'] }}">
            {% if message.sender_id is eq(0) %}
            <div>Client - {{ message.time_created }}</div>
            {% else %}
            <div>{{ message.sender_id }} - {{ message.time_created }}</div>
            {% endif %}
            <div>{{ message["message"] }}</div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
