{% extends "base.html" %}
{% block title %}{{ name }} - Ticket #{{ ticket["id"] }}{% endblock %}
{% block custom_head %}
    <style>
        .mb-1 {
            min-height: 24px;
        }
    </style>
{% endblock %}
{% block body %}
{% include "client/navbar.html" %}
    <div class="content">
        <div class="ticket">
            <p>ID: {{ ticket.id }}</p>
            <p>Name: {{ ticket.name }}</p>
            <p>Email: {{ ticket.email }}</p>
            {% if ticket.status is eq(0) %}
            <p style="color: green">Open</p>
            {% elif ticket.status is eq(1) %}
            <p style="color: darkorange">Customer-Reply</p>
            {% elif ticket.status is eq(2) %}
            <p style="color: darkgray">Answered</p>
            {% elif ticket.status is eq(3) %}
            <p style="color: red">Closed</p>
            {% else %}
            <p>Unknown status, {{ ticket.status }}</p>
            {% endif %}
            <p>Last updated: {{ ticket.time_updated }}</p>
        </div>
    
        {% if fail %}
        <div class="alert alert-danger" role="alert">
            <p>{{ fail }}</p>
        </div>
        {% endif %}
    
        {% if success %}
        <div class="alert alert-success" role="alert">
            <p>{{ success }}</p>
        </div>
        {% endif %}
    
        <div class="reply-form">
            <form action="/ticket?id={{ ticket.id }}&key={{ ticket.client_key }}" method="post">
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="message" class="form-control" id="message" rows="3"></textarea>
                </div>
    
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
    
    <div id="messages" class="list-group">
        {% for message in messages %}
        <a id="message" class="list-group-item list-group-item-action flex-column align-items-start {% if message.sender_id is eq(0) %}{% else %}{% endif %}">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                    {% if message.sender_id is eq(0) %} 
                    <img src="/api/gravatar/{{ ticket.email }}" />
                    Client
                    {% else %}
                    {{ admin_names[message.sender_id] }}
                    {% endif %}
                </h5>
                <small>{{ message.time_created }} </small>
                </div>
                {% for line in message.message.split("\n") %}
                <p class="mb-1">{{ line }}</p>
                {% endfor %}
                <small>{% if message.time_updated %}Edited {{ message.time_updated }}.{% else %}Message has not been edited.{% endif %}</small>
        </a>
        {% endfor %}
    </div>
{% endblock %}
