{% extends "base.html" %}
{% block title %}Ticket #{{ ticket["id"] }}{% endblock %}
{% block custom_head %}
    <style>
        /* This is temporary styling */
        .message {
            border-top: 6px solid red;
            background-color: gainsboro;
            margin-bottom: 20px;
        }

        .message-info {
            padding: 0px;
        }

        .message-info p{
            margin: 0px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="ticket">
        <p>ID: {{ ticket.id }}</p>
        <p>Name: {{ ticket.name }}</p>
        <p>Email: {{ ticket.email }}</p>
        {% if ticket.status is eq(0) %}
        <p>Open</p>
        {% elif ticket.status is eq(1) %}
        <p>Customer-Reply</p>
        {% elif ticket.status is eq(2) %}
        <p>Answered</p>
        {% elif ticket.status is eq(3) %}
        <p>Closed</p>
        {% else %}
        <p>Unknown status, {{ ticket.status }}</p>
        {% endif %}
        <p>Last updated: {{ ticket.time_updated }}</p>
    </div>

    <div class="messages">
            {% for message in messages %}
            <div class="message">
                <div style="border-bottom: 3px solid {% if message.sender_id is eq(0) %}green{% else %}blue{% endif %};" class="message-info">
                    <p>
                        {% if message.sender_id is eq(0) %}
                        <span>Client</span>
                        {% else %}
                        <span>{{ admin_names[message.sender_id] }}</span>
                        {% endif %}
                        <span>{{ message.time_created }}</span>
                        {% if message.time_updated %}
                        <span>Edited {{ message.time_updated }}</span>
                        {% endif %}
                    </p>
                </div>
                <div class="message-text">
                    <p>{{ message.message }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

{% endblock %}
